<%- include('../views/Layout/header') %>
<body>
    <h1>Sign Up</h1>

    <form action="/submitToAddUser" method="POST">
        <label for="name">name:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">email:</label>
        <input type="text" id="email" name="email" required>
        
        <label for="password">password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Submit</button>
    </form>
</body>
<%- include('../views/Layout/footer') %>